@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Agoesa";
  src: url("../fonts/Agoesa.otf") format("opentype"),
    url("../fonts/Agoesa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Momken";
  src: url("../fonts/Momken-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aref Ruqaa Regular";
  src: url("../fonts/ArefRuqaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DG Enab";
  src: url("../fonts/alfont_com_DGEnab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#mobile-menu {
  z-index: -1;
  left: 0;
  padding: 6px 15px;
  transform: translateY(130px);
  transition: transform 1s ease-in-out;
}
nav {
  height: 645px;
  overflow: hidden;
}
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #c11f24b5;
}
.hero-main-page {
  overflow: hidden;
  position: relative;
  top: -79px;
  margin: 0px auto;
  height: 660px;
}
.hero-content {
  background: rgba(0 0 0 / 50%);
  height: 660px;
  padding: 250px 15px 150px;
}
video {
  width: 100%;
  object-fit: cover;
  height: 900px;
  top: -70px;
}

/*  */
.card-content {
  background: #eee2bbd6;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
